fastapi==0.115.12
uvicorn[standard]==0.34.3
sqlalchemy[asyncio]==2.0.41
aiomysql==0.2.0
pymysql==1.1.1
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv==1.1.0
pydantic-settings==2.9.1
email-validator==2.2.0
slowapi==0.1.9
aiosmtplib==3.0.2
alibabacloud-oss-v2
